# IntelliJ IDEA
.idea/
*.iml

# Скомпилированные файлы Java
*.class
/out/

# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Документы, которые не должны попадать в репозиторий
Теория.docx
